{% extends 'main/base.html' %}


{% block title %}
Объявление и регламент конференции — 2020.iaeee.kg
{% endblock %}

{% block css %}
    {%  load    static %}
    <link rel="stylesheet" href="{% static 'main/css/myadvt.css' %}">
{% endblock %}


{% block logo %}
    {%  load    static %}
    {% static 'main/img/logo.png' %}
{% endblock %}


{% block content %}
    <div class="myadvts">
        <div class="advts__container">
            <div class="myadvt1">
                <div class="container">
                    <div class="title">
                        ОБЪЯВЛЕНИЕ О КОНФЕРЕНЦИИ
                    </div>
                    <div class="text">
                        <p>
                            Программа конференции доступна на вебсайте МАЭСС www.iaeee.kg и на вебсайте конференции.
                        </p>
                        <p>
                            Информационные сообщения и приглашения к участию в предстоящей конференции отправляются согласно графику организации конференции.
                        </p>
                        <p>
                            До начала конференции будет издан Вестник МАЭСС, включающий материалы III-Международной научно-практической конференции по сейсмостойкому строительству.
                        </p>
                        <p>
                            Выступающим с докладами вручаются дипломы.
                        </p>
                        <p>
                            Участники конференции без докладов могут получить сертификаты об участии.
                        </p>
                        <p>
                            <span class="bold">
                                Внимание! Конференция также будет проводиться в онлайн-режиме для участников, которые не смогут принять очное участие.
                            </span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="myadvt2">
                <div class="container">
                    <div class="title">
                        РЕГЛАМЕНТ РАБОТЫ КОНФЕРЕНЦИИ
                    </div>
                    <div class="text">
                        <p>
                            <span class="bold">Рабочие языки:</span>  русский и английский (в сопровождении с синхронным переводом).
                        </p>
                        <p>
                            <span class="bold">Время выступления:</span>
                        </p>
                        <p>
                            ꟷ приветственные выступления и краткие сообщения – до 5 минут;
                        </p>
                        <p>
                            ꟷ заказные доклады – до 45 минут;
                        </p>
                        <p>
                            ꟷ пленарные доклады – до 20 минут;
                        </p>
                        <p>
                            ꟷ научные доклады на секциях – до 10 минут.
                        </p>


                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
