{% extends 'main/base.html' %}


{% block title %}
Регистрационные и издательские взносы — iaeee.kg
{% endblock %}

{% block css %}
    {%  load    static %}
    <link rel="stylesheet" href="{% static 'main/css/myadvt.css' %}">
{% endblock %}


{% block logo %}
    {%  load    static %}
    {% static 'main/img/logo.png' %}
{% endblock %}


{% block content %}
    <div class="myadvts">
        <div class="advts__container">
            <div class="myadvt1">
                <div class="container">
                    <div class="title">
                        Регистрационные и издательские взносы
                    </div>
                    <div class="text">
                        <p>
                            <span class="bold">Регистрационный взнос участника – 5 000 сом или 75$ США для очного и заочного участия </span>
                            (для очного участия: в т.ч. НДС и транспортные расходы г. Бишкек — Иссык-Куль – г. Бишкек);
                        </p>
                        <p>
                            Тезисы и тексты научных докладов будут приняты и опубликованы в сборнике только при условии оплаты регистрационного взноса за участие в конференции;
                        </p>
                        <p>
                            В счет одного оплаченного взноса, один автор (в т.ч. в соавторстве) может опубликовать <span class="bold">не более 1 доклада</span> ;
                        </p>

                        <p class="bold">
                            Cтоимость участия без доклада (с получением сертификата)
                        </p>
                        <p class="bold">
                            – 1 000 сом или 15$;
                        </p>
                        <p class="bold">
                            стоимость публикации статей (без участия) – 3 500 сом или
                        </p>
                        <p class="bold">
                            50$ США.
                        </p>
                        <p>
                            Для прямого внесения оплаты за регистрацию участия в Конференции и за оплату публикации, получения счета на оплату, необходимо направить,
                        </p>
                        <p>
                            — если физическое лицо, то полные инициалы Ф.И.О.;
                        </p>
                        <p>
                            — если юридическое лицо, то полное название организации, Ф.И.О.
                        </p>
                        <p>
                            Участники конференции без докладов могут получить сертификаты об участии.
                        </p>
                        <p>
                            Контакты бухгалтера МАЭСС:
                        </p>
                        <p class="bold">
                            Ажаркан Асековна Дуйшокоева
                        </p>
                        <p>
                            Раб. тел.: +996 312 88 26 84
                        </p>
                        <p>
                            Моб. тел.: <a href = "tel:+996773229650">+996 773 22 96 50</a>, <a href = "tel:+996707752557">+996 707 75 25 57</a>
                        </p>
                        <p>
                            E-mail: <a href="mailto:aduyshokoeva@mail.ru">aduyshokoeva@mail.ru</a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="myadvt2">
                <div class="container">
                    <div class="title">
                        Чтобы стать участником конференции, Вам необходимо:
                    </div>
                    <div class="text">
                        <p>
                            1. Изучить и просматривать периодически вебсайт III-й Международной научно-практической конференции!
                        </p>
                        <p>
                            2. На вебсайте конференции, заполнить анкету в разделе “Онлайн-регистрация на конференцию”, каждый Ваш ответ на вопрос необходим! Просим соблюдать сроки регистрации!
                        </p>
                        <p>
                            3. Выслать тезисы научного доклада (если Вы готовите выступление) в PDF формате на адрес электронной почты: iaeee3iaeee@gmail.com.
                        </p>
                        <p>
                            4. Соблюдать сроки отправки, технические параметры и требования к оформлению докладов, указанные в Программе Конференции.
                        </p>
                        <p>
                            5. ꟷ научные доклады на секциях – до 10 минут.Для проживания в г. Бишкек, забронировать номер в отеле “Jannat Regency” согласно датам Программы Конференции. Реквизиты, контакты, цены указаны на сайте jannat.kg/ru/regency. Обязательно указать название Конференции и наименование Ассоциации, поскольку предоставляются скидки участникам.
                        </p>
                        <p>
                            6. Для проживания на Иссык-Куле, забронировать номер в отеле “Talisman Village” согласно датам Программы Конференции. Реквизиты, контакты, цены указаны на сайте talisman.kg. Обязательно указать название Конференции и наименование Ассоциации, поскольку предоставляются скидки участникам.
                        </p>
                        <p>
                            7. Оплатить регистрационные и издательские взносы, соблюдая условия оплаты, указанные в Программе Конференции.
                        </p>




                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
